*{
	margin: 0;
	padding: 0;
}
html{
	height: 100%;
}
body{
	min-height: 100%;
	display:flex;
	flex-direction: column;
}
/**-------MAIN--------**/
main{
	flex: 1;
	display: flex;
	transition: 0.4s ease;
	text-align: center;
	flex-direction: column;

}
.active-nav main{
	 transform: translate3d(200px, 0, 0);
}
section{
margin: 1% 1%;
font-size: 1.5em;
}
.section1{
background-color: #666;
padding: 3% 3%;

}
.section2{
background-color: #999;
padding: 3% 3%;
}
/**---------------ASIDE-----**/
aside nav {
position: fixed;
z-index: 1000;
top: 0;
bottom: 0;
width: 200px;
background-color: #35302d;
transform: translate3d(-200px, 0, 0);
transition: transform 0.4s ease;
}
.active-nav nav {
transform: translate3d(0, 0, 0);
}
nav ul {
list-style: none;

}
aside nav ul li a {
text-decoration: none;
display: block;
text-align: center;
color: #fff;
padding: 10px 0;
border-bottom: 1px solid black; 
border-top: 1px solid #3c3c3c;  
border-right:1px solid black;   
 border-left:1px solid #3c3c3c;
}

a:hover, a:active{
	background-color: rgba(0,0,0,0.2);
}

.nav-toggle-btn {
display: block;
position: absolute;
left: 200px;
width: max-content;
height: max-content;
background-color: #35302d;
border-radius: 0 10px 10px 0;
}
i{
	margin: 4px 5px;
	color: #fff;
}

.arrow-up{
	text-align: center;
	position: fixed;
	right: 2px;
	bottom: 2px;
	z-index: 2000;
	padding: 0;
	margin: 0;
	background-color: rgba(0,0,0,0.6);
}

/**----------FOOTER-------**/
footer{

	background-color: #222;	
	display: flex;
	align-items: center;
	text-align: center;
	color: #fff;
	transition: transform 0.4s ease;
	justify-content: flex-start;
}
.active-nav footer{
	 transform: translate3d(200px, 0, 0);
}
footer span{
	flex: 2 0 0;

}
footer i{
	flex: 1 0 0;
	
}

footer nav{
	flex: 2 0 0;
}
footer ul{
	display: flex;
	justify-content: flex-start;
}
footer ul li{
	margin: 0 8px;
}

/**----------media-------**/
@media only screen and (min-width: 150px) and (max-width: 600px){
footer{
	flex-direction: column;
	m/*ax-width: 600px;*/
	flex-wrap: wrap;

}
footer span{
	order: 2;
}
footer i{
	order: 1;
}
footer nav{
	order: 1;
}
footer ul{
	flex-wrap: wrap;
}

}





/**-----------------MAIN---------**>
/*.content {
padding-top: 300px;
height: 2000px;
background-color: #ccf;
text-align: center;
transition: transform 0.4s ease;
}
.active-nav .content {
transform: translate3d(200px, 0, 0);
}
*/
